body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

button {
  cursor: pointer;
}

.blackDiv {
  height: 10vh;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
}



#welcome-section {
  background: #202736;
  background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: -10;

}

#welcome-section::before {
  content: '';
  position: fixed;
  background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  z-index: -10;
  opacity: 0;
  animation: stars-move-in 1000ms 300ms forwards;
}

@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

.meriamText {
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  color: white;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0px 0px 5px #f300b4, 0 0 3px #f300b4;
  height: 100vh;
}


.avatar {
  border: 1px solid black;
  border-radius: 50%;
  width: 70%;
  max-width: 150px;
  position: fixed;
  z-index: -2;
  left: 9rem;
  top: 12rem;
  box-shadow: 0px 0px 10px #f300b4;
}


#womanImg {
  position: absolute;
  bottom: 3rem;
  left: 16.5rem;
  opacity: 0;
  width: 60%;
  max-width: 400px;
  animation: silhouette-move-in 1000ms 800ms forwards;
  z-index:1;
}


@keyframes silhouette-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}

#moonImg {
  top: 15%;
  right: 10%;
  position: fixed;
  width: 23%;
  height: 15%;
  z-index: -2;
  opacity: 0;
  animation: moon-move-in 1.2s 1s forwards;

}

@keyframes moon-move-in {
  from {
    opacity: 0;
    background-position: right 150%;
  }
  to {
    opacity: 1;
    background-position: top right;
  }
}

#scrollDiv {
  color: silver;
  font-size: 3rem;
  line-height: 1;
  position: absolute;
  left: 30%;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  text-shadow: 0px 0px 5px #111f28, 0 0 3px #f300b4;
}

@media only screen and (max-width: 768px) {
  #scrollDiv {
    left: 0;
  }
  .meriamText {
    font-size: 12vw;
  }
  .star-wars {
    font-weight: 300;
  }
  .avatar {
    margin: 0;
    position: absolute;
    left: 30%;
  }
  #womanImg {
    left: 5rem;
    z-index: 0;
    bottom: 8rem;
  }
}

.welcomeText {
  width: 300px;
  position: absolute;
  bottom: 6rem;
  left: 3rem;
}
.title {
  color: white;
  text-shadow: 0px 0px 5px #111f28, 0 0 3px #f300b4;
}

.bottom-title {
  font-size: 25px;
}

.pink-text {
  color: #f300b4;
  text-shadow: 0px 0px 5px #111f28, 0 0 5px #f300b4;
}

#about {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 1rem;
  position: relative;
  background: #000;
  z-index: 100;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}


.wrapper {
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

.slideCol {
  width: 100vw;
  position: absolute;
  overflow-y: hidden;
  top: 0;
  font-size: 1.5rem;
  background-color: black;
  text-align: center;
  line-height: 1.7;
  height: 100vh;
  overflow-x: hidden;
}


.portfolioCol {
  left: 100vw;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  height: 100vh;
  color: #FFE81F;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  background: black url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
  overflow-x: hidden;

}

.arrow-right {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  color: white;
  text-shadow: 0px 0px 3px #FFE81F, 0 0 3px #FFE81F;
  z-index: 5;
  cursor: pointer;
  width: 5%;
  max-width: 35px;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear infinite;
  animation-play-state: paused;
}

.crawl:hover {
  animation-play-state: running;
}



.bigTitle {
  font-size: 130%;
  text-align: center;
  margin-top: 200px;
}
.crawl > .title {
  font-size: 90%;
  text-align: center;
  margin-top: 200px;
}

.crawl > .title h1 {
  margin: 0 0 100px;
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.marvel-logo {
  background-color: black;
  padding: 2rem;
}

.marvel-img {
  width: 100%;
  height: auto;
  max-width: 372px;
  padding-bottom: 1rem;
}

.blackScreen {
  height: 100vh;
  color: white;
  overflow-y: scroll;
  padding: 1rem;
  padding-bottom: 20rem;
  background: black url(images/marvel-background2.png) center right no-repeat;
  background-attachment: fixed;
  width: 100%;
}


.portfolioImg {
  width: 100%;
  height: auto;
  max-width: 600px;
}


.spiderman {
  width: 10%;
  max-width: 70px;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 5;
}

.ironMan {
  width: 20%;
  max-width: 250px;
  position: absolute;
  bottom: -10px;
  left: 15%;
  z-index: 11000;
}

@media only screen and (max-width: 768px) {
  .ironMan {
    left: 0;
    bottom: 10%;
    width: 30%;
  }
  .shieldImg {
    display: none;
  }
  .welcomeText {
    bottom: 13rem;
  }
  .crawl {
    animation-delay: 5s;
    animation-play-state: running;
  }
  .crawl:hover {
    animation-play-state: paused;
  }
}

.arrowMarvel {
  width: 8%;
  max-width: 50px;
  right: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  text-shadow: 0px 0px 3px #FFE81F, 0 0 3px #FFE81F;
  z-index: 1000;
  cursor: pointer;
}

.avengersBlack {
  position: absolute;
  z-index: 5;
  bottom: 4rem;
  right: 8rem;
  height: 200px;
}

.portfolioText {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: overline underline;
  text-underline-offset: 5px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.scrollImg {
  position: absolute;
  top: 1rem;
  left: 5rem;
}

.shieldImg {
  width: 70%;
  max-width: 180px;
  z-index: 5;
  position: relative;
  top: 4rem;
  right: 5rem;
}


.contactCol {
  left: 200vw;
  background: url(images/harrypotterbackground.jpeg) center top no-repeat;
  overflow: hidden;
  z-index: -10;
}

.contactCol i {
  margin-right: 25px;
  transform: scale(1.5);
}

.wantedDiv {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wanted {
  margin: auto;
  max-width: 400px;
  width: 50%;
}


.contactText {
  color: white;
  text-shadow: 0 0 5px black, 0 0 5px black;
  font-size: 22px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-bottom: 4rem;

}

.contactTitle {
  width: 100%;
  max-width: 200px;
  margin: auto;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {

  .hpBlack2 {
    display: none;
  }
  .hpBlack {
    height: 20px;
    position: absolute;
    bottom: 11rem!important;
    left: 0!important;
  }
}

@media only screen and (max-width: 768px) {

.contactText {
  position: absolute;
  margin-top: 2rem;
  top: 20%;
  left: 0;
  transform: translateY(-50%);
}
.wantedDiv {
  margin: auto;
  margin-top: 50px;
}
}

.whiteSpace {
  height: 5rem;
  background-color: black;
  width: 100vw;
  position: fixed;
  padding-top: 5px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  overflow-x: hidden;
}

.mainBtn {
  color: white;
  transform: scale(2.5);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 2px;
  z-index: 10000;
}

.textBtn {
  margin-top: 0.25rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0px 0px 5px #f300b4, 0 0 3px #f300b4;
}

.mainBtn:hover {
  text-shadow: 0 0 5px #f300b4;
  transform: scale(2.7);
}

.hp-arrow {
  width: 15%;
  max-width: 80px;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
}

.hpBlack {
  position: absolute;
  bottom: 3rem;
  left: 22vw;
  z-index: 2000;
  height: 20%;
  max-height: 180px;
}

.hpBlack2 {
  position: absolute;
  bottom: 3rem;
  right: 30vw;
  z-index: 2000;
  height: 50%;
  max-height: 230px;
}

.languagesCol {
  left: 300vw;
  padding-left: 3rem;
  padding-right: 3rem;
  background: black url(images/rivendelCastle.jpeg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
}

.lotrBack {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100vw;
  text-shadow: 0 5px 5px white;
  z-index: 10;
}

@media only screen and (max-width:768px) {
  .lotrBack {
    width: 160%;
    bottom: 12rem;
  }
  .lotrPhone {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100vw;
    background-color: black;
    height: 12rem;
  }
}


.lotrTitle {
  margin: auto;
  position: relative;
  top: 10%;
  width: 60%;
  max-width: 230px;
}


.languagesScroll {
  color: #AB8D5A;
  width: 75%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 60px 60px;
  padding: 2rem;
  text-transform: uppercase;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  text-shadow:
        -0.07em 0 black,
        0 -0.07em black;
}



.leftArrow {
  position: absolute;
  left: 10px;
  transform: translateY(-50%);
}

.arrowLOTR {
  width: 100px;
  position: absolute;

}

.lotrLeft {
  left: 0;
}
